.app {
  position: relative;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
