.main {
  position: relative;
  z-index: 1;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 70px;
  padding-top: 120px;
  min-height: 100vh;
  width: 100%;
  background-color: #02023a;

  overflow: hidden;
}

.section {
  max-width: 1150px;
  padding: 60px;
  margin: 50px 0;
  box-sizing: inherit;

  font-family: 'Comfortaa';
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.6px;
  word-break: break-word;

  background-color: #252546;
  border-radius: 50px;
  border: 2px solid #010120;
  box-shadow: 0 0 10px 5px #010120;
}

.section__title {
  margin: 20px 0;

  line-height: 25px;
  font-size: 27px;
  letter-spacing: 0.6px;
}

.section__subtitle {
  margin: 20px 0;

  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.code {
  box-sizing: border-box;
  padding: 0 15px;
  margin: 20px 0;
  max-height: 400px;
  width: 100%;
  overflow: auto;

  font-family: monospace;
  background-color: #010120;
  white-space: pre-wrap;
}

.spec-list {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.spec-list__title {
  margin: 20px 0;

  text-align: left;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.spec-list__item {
  margin-top: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.spec-list__item:first-of-type {
  margin-top: 30px;
}

.spec-list__item-title {
  margin: 70px 0 0 0;

  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.spec-list__item-description {
  margin: 20px 0;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.span-collection {
  font-weight: 500;
  color: yellow;
}

.span-url {
  font-family: monospace;
  color: rgb(36, 134, 214);
}

.span-error {
  font-family: 'Comfortaa';
  font-weight: 500;
  text-decoration: none;
  color: rgb(207, 57, 57);

  transition: all ease 0.3s;
}

.span-error:hover {
  opacity: 0.7;
  transition: all ease 0.3s;
}

@media screen and (max-width: 856px) {
  .main {
    padding: 30px;
  }
  .section {
    padding: 30px;

    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 10px;
  }
  .section {
    padding: 10px;
    
    font-size: 14px;
    line-height: 20px;
  }
}